<!DOCTYPE html>
<html>
<head>
    <title>Fortune Cookie</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <h1>Fortune Cookie</h1>
    <p>Click the button to get your fortune cookie.</p>
    <button id="get-fortune-button">Get Fortune Cookie</button> 
    <div id="fortune-result"></div> <br>

    <script>
        $(document).ready(function () {
            $('#get-fortune-button').click(function () {
                $.ajax({
                    url: '/get_fortune',
                    type: 'POST',
                    success: function (response) {
                        $('#fortune-result').text(response.fortune);
                    }
                });
            });
        });
    </script>
</body>
</html>