<!DOCTYPE html>
<html>
<head>
    <title>Fortune Cookie</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <h1>Fortune Cookie</h1>
    <p>Click the cookie to get your fortune cookie.</p>
    <img id="get-fortune-button" src="{{ url_for('static', filename='fortunecookie.png') }}">
    <div id="fortune-result"></div> <br>

    <script>
        $(document).ready(function () {

            $('#get-fortune-button').click(function () {
                document.getElementById('get-fortune-button').src = "{{ url_for('static', filename='openfortunecookie.png') }}";

                $.ajax({
                    url: '/get_fortune',
                    type: 'POST',
                    success: function (response) {
                        $('#fortune-result').text(response.fortune);
                    }
                });
                setTimeout(function () {
                document.getElementById('get-fortune-button').src = "{{ url_for('static', filename='fortunecookie.png') }}";
            }, 1000);
            });
        });
    </script>
</body>
</html>
